In [5]:
#Scrape desired number of reviews 

from google_play_scraper import Sort, reviews

result, continuation_token = reviews(
    'com.HoYoverse.hkrpgoversea', 
    lang='id', # defaults to â€˜enâ€™
    country='id', # defaults to â€˜usâ€™
    sort=Sort.MOST_RELEVANT, # defaults to Sort.MOST_RELEVANT, you can use Sort.NEWEST to get newest reviews
    count=30000, # defaults to 100
    filter_score_with=None # defaults to None(means all score) Use 1 or 2 or 3 or 4 or 5 to select certain score
    )

In [6]:
df_busu = pd.DataFrame(np.array(result),columns=['reviews'])

df_busu = df_busu.join(pd.DataFrame(df_busu.pop('reviews').tolist()))

df_busu.head()

,reviewId,userName,userImage,content,score,thumbsUpCount,reviewCreatedVersion,at,replyContent,repliedAt,appVersion
0,221e0f59-18bd-4edc-8712-88f552dab36d,Pengguna Google,https://play-lh.googleusercontent.com/EGemoI2N...,"Game nya sangat bagus, apalagi style battlenya...",5,130,3.1.0,2025-04-07 21:35:33,None,NaT,3.1.0
1,ec24b827-4543-45d7-b557-af2a2c210682,Pengguna Google,https://play-lh.googleusercontent.com/EGemoI2N...,game ini berkembang bagus bangettt!!! aku suka...,5,686,3.1.0,2025-04-05 20:18:20,None,NaT,3.1.0
2,d7a3c569-dbf2-4c7b-8595-0cae56dd520d,Pengguna Google,https://play-lh.googleusercontent.com/EGemoI2N...,Untuk keseluruhan nya game ini bagus baik dala...,5,16,3.1.0,2025-04-07 11:46:04,None,NaT,3.1.0
3,a624cc5b-3bc1-4cd9-8295-a55204fa64f9,Pengguna Google,https://play-lh.googleusercontent.com/EGemoI2N...,"overall sudah bagus, saran saya tambah pengatu...",5,15,3.1.0,2025-04-08 17:35:03,None,NaT,3.1.0
4,18cdff5e-f934-4f04-a0c2-4bc614a9a792,Pengguna Google,https://play-lh.googleusercontent.com/EGemoI2N...,Ini salah satu game yang begitu menakjubkan ya...,5,11,3.1.0,2025-04-07 11:20:42,None,NaT,3.1.0

In [7]:
len(df_busu.index) #count the number of data we got

25413

In [8]:
df_busu[['userName', 'score', 'at', 'content']].head() #preview userName, rating, date-time, and reviews only

,userName,score,at,content
0,Pengguna Google,5,2025-04-07 21:35:33,"Game nya sangat bagus, apalagi style battlenya..."
1,Pengguna Google,5,2025-04-05 20:18:20,game ini berkembang bagus bangettt!!! aku suka...
2,Pengguna Google,5,2025-04-07 11:46:04,Untuk keseluruhan nya game ini bagus baik dala...
3,Pengguna Google,5,2025-04-08 17:35:03,"overall sudah bagus, saran saya tambah pengatu..."
4,Pengguna Google,5,2025-04-07 11:20:42,Ini salah satu game yang begitu menakjubkan ya...

In [9]:
#Run This Code to Sort the Data by Date

new_df = df_busu[['userName', 'score', 'at', 'content']]
sorted_df = new_df.sort_values(by='at', ascending=False) # Sort by Newest, change to True if you want to sort by Oldest
sorted_df.head()

,userName,score,at,content
4656,Pengguna Google,5,2025-04-27 18:26:43,udah warp 140 kali masih blum dapat B5 yg ada ...
16232,Pengguna Google,3,2025-04-27 18:03:16,"Bagus game hoyo versi turn base, banyak bansos..."
16262,Pengguna Google,2,2025-04-27 17:47:49,"bagus, tapi semenjak update besar bngt GB nya"
16335,Pengguna Google,5,2025-04-27 17:40:05,global passive? HP inflation? pfft* hell no
22454,Pengguna Google,3,2025-04-27 17:33:26,game nyah sudah saya hapus susah gacha nyah ap...

In [10]:
my_df = sorted_df[['userName', 'score', 'at', 'content']] # get userName, rating, date-time, and reviews only

In [11]:
my_df.head()

,userName,score,at,content
4656,Pengguna Google,5,2025-04-27 18:26:43,udah warp 140 kali masih blum dapat B5 yg ada ...
16232,Pengguna Google,3,2025-04-27 18:03:16,"Bagus game hoyo versi turn base, banyak bansos..."
16262,Pengguna Google,2,2025-04-27 17:47:49,"bagus, tapi semenjak update besar bngt GB nya"
16335,Pengguna Google,5,2025-04-27 17:40:05,global passive? HP inflation? pfft* hell no
22454,Pengguna Google,3,2025-04-27 17:33:26,game nyah sudah saya hapus susah gacha nyah ap...

In [12]:
my_df.to_csv("scrapped_data_honkai_star_rail.csv", index = False) #Save file as CSV, to download: click the folder icon on the left.

#### Kode Scraping dengan batch

In [ ]:
import pandas as pd
from google_play_scraper import reviews, Sort
import time

def scrape_reviews_batch(app_id, batch_size=25000, total_limit=50000, sleep_time=1, sort=Sort.NEWEST):
    """
    Scrape ulasan Google Play Store dalam batch agar aman jika terhenti.
    
    Parameters:
    - app_id (str): ID aplikasi di Google Play (contoh: 'com.miHoYo.hkrpgoversea')
    - batch_size (int): Jumlah ulasan per batch
    - total_limit (int): Total ulasan yang ingin diambil
    - sleep_time (int): Jeda antar batch (detik) untuk mencegah block
    - sort (Sort): Urutan ulasan (Sort.NEWEST atau Sort.MOST_RELEVANT)
    
    Output:
    - File CSV per batch: reviews_batch_1.csv, reviews_batch_2.csv, dst.
    """
    
    all_reviews = []
    count = 0
    batch_num = 1
    
    while count < total_limit:
        # Ambil batch ulasan
        print(f"ðŸ”„ Mengambil batch {batch_num} ...")
        
        rvs, _ = reviews(
            app_id,
            lang='id',       # Bahasa ulasan
            country='id',    # Server Indonesia
            sort=sort,
            count=batch_size,
            filter_score_with=None
        )
        
        # Simpan ke dataframe
        df_batch = pd.DataFrame(rvs)
        filename = f"reviews_batch_{batch_num}.csv"
        df_batch.to_csv(filename, index=False, encoding='utf-8-sig')
        
        print(f"âœ… Batch {batch_num} selesai. Disimpan di {filename} ({len(df_batch)} ulasan).")
        
        # Tambahkan ke total
        all_reviews.extend(rvs)
        count += len(rvs)
        
        # Jeda sebentar agar tidak dianggap spam
        time.sleep(sleep_time)
        
        batch_num += 1
        
        # Jika data kurang dari batch_size â†’ artinya tidak ada ulasan lagi
        if len(rvs) < batch_size:
            print("ðŸš¨ Tidak ada ulasan tambahan. Scraping selesai.")
            break
    
    # Simpan semua gabungan
    df_all = pd.DataFrame(all_reviews)
    df_all.to_csv("reviews_all.csv", index=False, encoding='utf-8-sig')
    print(f"ðŸ“ Semua data ulasan tersimpan di reviews_all.csv ({len(df_all)} ulasan).")

# ==============================
# ðŸ“Œ CONTOH PENGGUNAAN
# ==============================

# Honkai Star Rail
app_id = "com.miHoYo.hkrpgoversea"

# Magic Chess Go Go
# app_id = "com.mobile.legends.chess"  # â† contoh, pastikan ID aplikasinya benar

scrape_reviews_batch(app_id, batch_size=25000, total_limit=50000, sort=Sort.NEWEST)